<div class="grid wide">
  <div class="row sm-gutter">
    <div id="top-nav">
      <!-- <div class="top-nav-left-home">
        <label for="signin-mobile-input" class="signin__bars-btn-mobile">
          <i class="fa-solid fa-house icon-signin-mobile"></i>
        </label>
        <input type="checkbox" class="signin__input-mobile" id="signin-mobile-input" />
            <div class="signin__mobile">
              <label for="mobile-input" class="mobile-close-icon">
                <i class="fa-solid fa-bars icon-bars-mobile"></i>
              </label>
              <input type="checkbox" class="check-signin-mobile" id="mobile-input" />
              <div class="singin__mobile--form">
                <label for="nav-mobile-input" class="nav__mobile-close">
                  <i class="fa-solid fa-xmark"></i>
                </label>
                <div class="signin-form-list-mobile">
                  <div class="signin-content-mobile">
                    <h2 class="title-signin-mobile">SIGN IN</h2>
                    <form>
                      <div class="form-input-mobile signin-mail-mobile">
                        <label for="fname">Email Address <span>*</span> </label><br>
                        <input type="text" id="fname" name="fname"><br><br>
                      </div>
                      <div class="form-input-mobile signin-pass-mobile">
                        <label for="fname">Password <span>*</span> </label><br>
                        <input type="text" id="fname" name="fname"><br><br>
                      </div>              
                                    
                      <button type="button" class="btn-signin-mobile">SIGN IN</button>
                      <div class="forget-mobile">
                        <a href="#!">Forgot password?</a>
                      </div> 
                      <button type="button" class="btn-create-mobile">CREATE ACCOUNT</button>
                    </form>
                  </div>   
                </div>   
              </div>
            </div>
        
      </div> -->
      <!-- logo name  -->
      <div class="top-nav-left">
        <div class="line-logo"></div>
        <div class="name-logo">ella</div>
      </div>
      <!-- form signin + cart  -->
      <div class="top-nav-rigth">
        <div class="top-nav-rigth-top">
          Free shipping on All Orders. No Minimum Purchase
        </div>
        <div class="top-nav-rigth-bottom">
          <div class="top-nav-rigth-bottom-item">
            <i class="fa-sharp fa-solid fa-bag-shopping"></i>
            <span>Shopping Cart</span>
            <div class="shopping-cart">0</div>
          </div>
          <div class="top-nav-rigth-bottom-item">
            <i class="fa-solid fa-heart"></i>
            <span>My Wish Lists</span>
          </div>
          <div class="top-nav-rigth-bottom-item">
            <label for="signin__bars-input" class="signin__bars-btn">
              <span class="signin__bars-text"
                >Sign In or Create an account</span
              >
            </label>
            <input
              type="checkbox"
              class="signin__input"
              id="signin__bars-input"
            />
            <div class="nav-signin">
              <label for="signin__bars-input" class="nav__signin-close">
                <i class="fa-solid fa-xmark signin-close-icon"></i>
              </label>
              <div class="signin-form-list">
                <div class="signin-content">
                  <h2 class="signin-title">Sign in</h2>

                  <form>
                    <div class="form-input signin-mail">
                      <label for="fname">Email Address <span>*</span> </label
                      ><br />
                      <input type="text" id="fname" name="fname" /><br /><br />
                    </div>
                    <div class="form-input signin-pass">
                      <label for="fname">Password <span>*</span> </label><br />
                      <input type="text" id="fname" name="fname" /><br /><br />
                    </div>
                    <button type="button" class="btn-login">LOG IN</button>

                    <div class="signin-forget-pass">
                      <a href="#!">Forgot password?</a>
                    </div>
                    <button type="button" class="btn-create">
                      Create Account
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- menu-mobile -->
      <div class="menu-container-mobile">
        <label for="nav-mobile-input" class="nav__bars-btn">
          <i class="fa-solid fa-bars icon-bars-mobile"></i>
        </label>
        <input type="checkbox" class="nav__input" id="nav-mobile-input" />
        <div class="nav__mobile">
          <label for="nav-mobile-input" class="nav__mobile-close">
            <i class="fa-solid fa-xmark"></i>
          </label>
          <ul class="nav__mobile-list">
            <ul class="nav__list--account">
              <h4>NEW IN</h4>
              <li class="nav--accout-item">Blog Default Layout</li>
              <li class="nav--accout-item">
                Blog with Small Image and Left Sidebar
              </li>
              <li class="nav--accout-item">Blog Mansory</li>
              <li class="nav--accout-item">Blog Full-width</li>
              <li class="nav--accout-item">Blog Post with LookBook</li>
              <li class="nav--accout-item">Blog Post with Product Widget</li>
            </ul>

            <ul class="nav__list--account">
              <h4>TREND</h4>
              <li class="nav--accout-item">Blog Default Layout</li>
              <li class="nav--accout-item">
                Blog with Small Image and Left Sidebar
              </li>
              <li class="nav--accout-item">Blog Mansory</li>
              <li class="nav--accout-item">Blog Full-width</li>
              <li class="nav--accout-item">Blog Post with LookBook</li>
              <li class="nav--accout-item">Blog Post with Product Widget</li>
            </ul>

            <ul class="nav__list--account">
              <h4>COLLECTIONS</h4>
              <li class="nav--accout-item">Blog Default Layout</li>
              <li class="nav--accout-item">
                Blog with Small Image and Left Sidebar
              </li>
              <li class="nav--accout-item">Blog Mansory</li>
              <li class="nav--accout-item">Blog Full-width</li>
              <li class="nav--accout-item">Blog Post with LookBook</li>
              <li class="nav--accout-item">Blog Post with Product Widget</li>
            </ul>
            <ul class="nav__list--account">
              <h4>LOOKBOOK</h4>
              <li class="nav--accout-item">Blog Default Layout</li>
              <li class="nav--accout-item">
                Blog with Small Image and Left Sidebar
              </li>
              <li class="nav--accout-item">Blog Mansory</li>
              <li class="nav--accout-item">Blog Full-width</li>
              <li class="nav--accout-item">Blog Post with LookBook</li>
              <li class="nav--accout-item">Blog Post with Product Widget</li>
            </ul>
            <ul class="nav__list--account">
              <h4>DEMO</h4>
              <li class="nav--accout-item">Blog Default Layout</li>
              <li class="nav--accout-item">
                Blog with Small Image and Left Sidebar
              </li>
              <li class="nav--accout-item">Blog Mansory</li>
              <li class="nav--accout-item">Blog Full-width</li>
              <li class="nav--accout-item">Blog Post with LookBook</li>
              <li class="nav--accout-item">Blog Post with Product Widget</li>
            </ul>
            <ul class="nav__list--account">
              <h4>SHOP INSTAGRAM</h4>
              <li class="nav--accout-item">Blog Default Layout</li>
              <li class="nav--accout-item">
                Blog with Small Image and Left Sidebar
              </li>
              <li class="nav--accout-item">Blog Mansory</li>
              <li class="nav--accout-item">Blog Full-width</li>
              <li class="nav--accout-item">Blog Post with LookBook</li>
              <li class="nav--accout-item">Blog Post with Product Widget</li>
            </ul>
            <ul class="nav__list--account">
              <h4>BLOG</h4>
              <li class="nav--accout-item">Blog Default Layout</li>
              <li class="nav--accout-item">
                Blog with Small Image and Left Sidebar
              </li>
              <li class="nav--accout-item">Blog Mansory</li>
              <li class="nav--accout-item">Blog Full-width</li>
              <li class="nav--accout-item">Blog Post with LookBook</li>
              <li class="nav--accout-item">Blog Post with Product Widget</li>
            </ul>
            <ul class="nav__list--account">
              <h4>BRANDS</h4>
              <li class="nav--accout-item">Blog Default Layout</li>
              <li class="nav--accout-item">
                Blog with Small Image and Left Sidebar
              </li>
              <li class="nav--accout-item">Blog Mansory</li>
              <li class="nav--accout-item">Blog Full-width</li>
              <li class="nav--accout-item">Blog Post with LookBook</li>
              <li class="nav--accout-item">Blog Post with Product Widget</li>
            </ul>
            <ul class="nav__list--account">
              <h4>FAGS</h4>
              <li class="nav--accout-item">Blog Default Layout</li>
              <li class="nav--accout-item">
                Blog with Small Image and Left Sidebar
              </li>
              <li class="nav--accout-item">Blog Mansory</li>
              <li class="nav--accout-item">Blog Full-width</li>
              <li class="nav--accout-item">Blog Post with LookBook</li>
              <li class="nav--accout-item">Blog Post with Product Widget</li>
            </ul>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
