<div class="grid wide">
  <div class="row sm-gutter">

    <div id="top-nav">
      

      <div class="top-nav-left">
        <div class="line-logo"></div>
        <div class="name-logo">ella</div>
      </div>
      <div class="top-nav-rigth">
        <div class="top-nav-rigth-top">
          Free shipping on All Orders. No Minimum Purchase
        </div>
        <div class="top-nav-rigth-bottom">
          <div class="top-nav-rigth-bottom-item">
            <i class="fa-sharp fa-solid fa-bag-shopping"></i>
            <span>Shopping Cart</span>
            <div class="shopping-cart">0</div>
          </div>
          <div class="top-nav-rigth-bottom-item">
            <i class="fa-solid fa-heart"></i>
            <span>My Wish Lists</span>
          </div>
          <div class="top-nav-rigth-bottom-item">
            <span>Sign In or Create an account</span>
          </div>
        </div>
      </div>

      <div class="menu-container-mobile">
        <label for="nav-mobile-input" class="nav__bars-btn">
          <i class="fa-solid fa-bars"></i>
        </label>
        <input type="checkbox" class="nav__input" id="nav-mobile-input" />
        <div class="nav__mobile">
          <label for="nav-mobile-input" class="nav__mobile-close">
            <i class="fa-solid fa-xmark"></i>
          </label>
          <ul class="nav__mobile-list">
            <ul class="nav__list--account">
              <h4>NEW IN</h4>
              <li class="nav--accout-item">Blog Default Layout</li>
              <li class="nav--accout-item">Blog with Small Image and Left Sidebar</li>
              <li class="nav--accout-item">Blog Mansory</li>
              <li class="nav--accout-item">Blog Full-width</li>
              <li class="nav--accout-item">Blog Post with LookBook</li>
              <li class="nav--accout-item">Blog Post with Product Widget</li>
            </ul>

            <ul class="nav__list--account">
              <h4>TREND</h4>
              <li class="nav--accout-item">Blog Default Layout</li>
              <li class="nav--accout-item">Blog with Small Image and Left Sidebar</li>
              <li class="nav--accout-item">Blog Mansory</li>
              <li class="nav--accout-item">Blog Full-width</li>
              <li class="nav--accout-item">Blog Post with LookBook</li>
              <li class="nav--accout-item">Blog Post with Product Widget</li>
            </ul>

            <ul class="nav__list--account">
              <h4>COLLECTIONS</h4>
              <li class="nav--accout-item">Blog Default Layout</li>
              <li class="nav--accout-item">Blog with Small Image and Left Sidebar</li>
              <li class="nav--accout-item">Blog Mansory</li>
              <li class="nav--accout-item">Blog Full-width</li>
              <li class="nav--accout-item">Blog Post with LookBook</li>
              <li class="nav--accout-item">Blog Post with Product Widget</li>
            </ul>
            <ul class="nav__list--account">
              <h4>LOOKBOOK</h4>
              <li class="nav--accout-item">Blog Default Layout</li>
              <li class="nav--accout-item">Blog with Small Image and Left Sidebar</li>
              <li class="nav--accout-item">Blog Mansory</li>
              <li class="nav--accout-item">Blog Full-width</li>
              <li class="nav--accout-item">Blog Post with LookBook</li>
              <li class="nav--accout-item">Blog Post with Product Widget</li>
            </ul>
            <ul class="nav__list--account">
              <h4>DEMO</h4>
              <li class="nav--accout-item">Blog Default Layout</li>
              <li class="nav--accout-item">Blog with Small Image and Left Sidebar</li>
              <li class="nav--accout-item">Blog Mansory</li>
              <li class="nav--accout-item">Blog Full-width</li>
              <li class="nav--accout-item">Blog Post with LookBook</li>
              <li class="nav--accout-item">Blog Post with Product Widget</li>
            </ul>
            <ul class="nav__list--account">
              <h4>SHOP INSTAGRAM</h4>
              <li class="nav--accout-item">Blog Default Layout</li>
              <li class="nav--accout-item">Blog with Small Image and Left Sidebar</li>
              <li class="nav--accout-item">Blog Mansory</li>
              <li class="nav--accout-item">Blog Full-width</li>
              <li class="nav--accout-item">Blog Post with LookBook</li>
              <li class="nav--accout-item">Blog Post with Product Widget</li>
            </ul>
            <ul class="nav__list--account">
              <h4>BLOG</h4>
              <li class="nav--accout-item">Blog Default Layout</li>
              <li class="nav--accout-item">Blog with Small Image and Left Sidebar</li>
              <li class="nav--accout-item">Blog Mansory</li>
              <li class="nav--accout-item">Blog Full-width</li>
              <li class="nav--accout-item">Blog Post with LookBook</li>
              <li class="nav--accout-item">Blog Post with Product Widget</li>
            </ul>
            <ul class="nav__list--account">
              <h4>BRANDS</h4>
              <li class="nav--accout-item">Blog Default Layout</li>
              <li class="nav--accout-item">Blog with Small Image and Left Sidebar</li>
              <li class="nav--accout-item">Blog Mansory</li>
              <li class="nav--accout-item">Blog Full-width</li>
              <li class="nav--accout-item">Blog Post with LookBook</li>
              <li class="nav--accout-item">Blog Post with Product Widget</li>
            </ul>
            <ul class="nav__list--account">
              <h4>FAGS</h4>
              <li class="nav--accout-item">Blog Default Layout</li>
              <li class="nav--accout-item">Blog with Small Image and Left Sidebar</li>
              <li class="nav--accout-item">Blog Mansory</li>
              <li class="nav--accout-item">Blog Full-width</li>
              <li class="nav--accout-item">Blog Post with LookBook</li>
              <li class="nav--accout-item">Blog Post with Product Widget</li>
            </ul>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>